@tailwind base;
@tailwind components;
@tailwind utilities;


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'satoshi';
  src: url('src/react/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('src/react/assets/fonts/Satoshi-Variable.woff') format('woff');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'satoshi';
  src: url('src/react/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('src/react/assets/fonts/Satoshi-VariableItalic.woff') format('woff');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: strasua;
  src: url('src/react/assets/fonts/strasua.regular.otf') format('opentype');
}

@font-face {
  font-family: otscookie;
  src: url('src/react/assets/fonts/otscookie.regular.otf') format('opentype');
}
